.titlePag{
    color: #FFD700;
    font-weight: bold;
}
.title{
    color: #FFD700;
    margin-top: 2%;
}
.backgroundContainer{
    background-color: black !important;
}
.divBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.spacingCard{
    margin-bottom: 10px;
}
a.spacingIcone{
    color: #FFD700;
    margin-top: 2%;
}
a.spacingIcone:{
    color: #FFD700;
}
.MsgErros {
	padding: 25px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px;
	font-size: 12px;
}
.error {
	border-color: #e8273b;
	color: #FFF;
	background-color: #ed5565;
}
li {
    list-style-type: none;
  }