
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div>
        <h1>Cadastro Confirmado</h1>
        <p>Parabéns! Sua conta foi Cineasy foi criada com sucesso!</p>
        <footer>
            <p>Esse e-mail notifica um serviço.</p>
            <button type="button" class="btn btn-primary">Primary</button>
        </footer>
    </div>
</body>

</html>