<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
</head>

<body>
    <div style=" flex-direction: row; justify-content: center; align-items: center;display: flex; margin-top: 30px; ">
        <div style="border: 1px solid; border-radius:2px; height: 400px; width: 500px;">
            <h2 style="font-family:initial; text-align: center; ">Solicitação de recuperação senha </h2>
        <p style="text-align: center; margin-top: 120px;">Email: {{Email}}</p>
        <p style="text-align: center; margin-top: 10px;">Nova senha: {{Senha}}</p>
        <p style="text-align: center; margin-top: 10px;">Caso queria, é possível alterar a sua nova senha para uma que achar melhor, na opção "Alterar senha" a aba de Perfil</p>
        </div>
    </div>
</body>

</html>